html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content:''; clear: both; height: 0; } 

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {font-size: calc(2.48px + (10 - 2.48) * ((100vw - 378px) / (1536 - 378)));}
body {font-size: 1.6rem;margin: 0}
h1, h2, h3, h4, h5, h6, p, ul {margin: 0}
ul {padding: 0; list-style-type: none}
a {text-decoration: none;color: #000;display: inline-block}

.wrapper {
  height: 100%;
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

/* * {
  border: red 2px solid;
} */

img {
  width: 100%;
}

p, 
button {
  font-size: 2rem;
  line-height: 3rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  font-style: inherit;
  color: inherit;
  border-bottom: solid 3px rgba(255, 255, 255, 0);
  transition: all 0.3s;
}

a:focus,
a:focus-within,
a:hover {
  border-bottom: solid 3px rgba(255, 255, 255, 1);
}

button {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  background-color: #BA0621;
  color: #fff;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.3s;
}

button:focus,
button:focus-within,
button:hover {
  background-color: #CC1D36;
}

button:active {
  background-color: #6C0918;
}

.mobile {
  position: absolute;
  visibility: hidden;
  color: #fff;
}

.mobile-menu .logo {
  margin: 0px;
}

.mobile-menu h3 {
  font-size: 6rem;
  margin: 25px 0px 0px 20px;
}

.hamburger {
  position: fixed;
  top: 2%;
  right: 6%;
}

i.hamburger {
  z-index: 90;
  font-size: 12rem;
}

input[type=checkbox].hamburger {
  z-index: 100;
  width: 12rem;
  height: 12rem;
  opacity: 0;
}

.mobile-menu {
  z-index: 80;
  width: 50%;
  height: auto;
  position: fixed;
  top: 0px;
  left: 100%;
  background-color: #6C0918;
  filter: drop-shadow(-10px 10px 5px rgba(11, 1, 1, .5));
  transition: 0.5s;
}

input.hamburger:checked ~ .mobile-menu {
  left: 50%;
}

.mobile-menu li {
  border-bottom: #fff solid 1px;
}

.mobile-menu a {
  display: block;
  font-size: 7rem;
  padding: 10px;
  margin: 5rem 10px;
  text-align: center;
}

.mobile-menu li:first-child {
  border-top: #fff solid 1px;
  margin-top: 75px;
}

.mobile-menu .social {
  text-align: center;
  margin: 6rem 0rem;
}

.mobile-menu .social a {
  font-size: 7rem;
  text-align: right;
  display: inline-block;
  padding: 10px;
  margin: 10px
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/image-1@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: 50% 50%;
}

header .wrapper {
  height: 100%;
  position: relative;
}

h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.logo {
  float: left;
  margin-top: 30px;
}

.mobile,
.nav-header {
  font-family: 'Catamaran', sans-serif;
  float: right;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.nav-header .web li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
  line-height: 3rem;
}

.nav-header .web li:last-child {
  margin-right: 0px;
}

.social.web {
  font-size: 2.5rem;
  position: absolute;
  bottom: 50px;
  right: -30px;
}

.social.web a {
  text-align: right;
  display: block;
  margin-bottom: 10px;
}

.hero-text {
  position: absolute;
  top: 55%;
}

h1 {
  font-family: 'Kanit', sans-serif;
  color: #CC1D36;
  font-size: 11.6rem;
  text-transform: uppercase;
  line-height: 9.7rem;
}

.hero-text p {
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 3.1rem;
}

h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 4.2rem;
  text-transform: uppercase;
}

.news-articles h2 {
  text-align: center;
  margin: 75px auto;
}

.news-articles img {
  width: calc((100% - 100px)/3);
}

img.news-1,
img.news-2 {
  margin-right: 45px;
}

.highlights {
  margin: 85px 0px;
}

.highlights img {
  width: 25%;
  margin-right: 40px;
  float: left;
}

.main-2 {
  position: relative;
}

.new-models img {
  width: 50%;
  float: right;
  margin-left: 6%;
}

.night-style img {
  width: 50%;
  float: left;
  margin-right: 6%;
}

.main-2 .text {
  padding-top: 6%;
}

.main-1 p,
.main-2 p {
  margin: 20px 0px 30px 0px;
}

.main-3 {
  background-image: url(./assets/oscar-aguilar-327500-unsplash@2x.png);
  height: 350px;
  background-size: cover;
  background-position: 50%, 50%;
  color: #fff; 
}

.main-3 .wrapper {
  position: relative;
  height: 100%;
}

.main-3 i {
  font-size: 5rem;
  color: #CC1D36;
  margin-bottom: 20px;
}

.shop,
.jobs,
.events {
  text-align: center;
  position: absolute;
  top: 25%;
  transform: translate(-50%, 50%)
}

.shop {
  left: 25%;
}

.jobs {
  left: 50%;
}

.events {
  left: 75%;
}

footer {
  padding: 75px 0px;
  background-color: #6C0918;
  color: #fff;
}

footer p {
  font-size: 1.8rem;
  line-height: 2.9rem;
}

h4,
footer a {
  font-family: 'Kanit', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}

h4 {
  margin-bottom: 10px;
}

.email {
  width: 60%;
  float: left;
}

.email p {
  margin-bottom: 10px;
}

.email button {
  background-color: #0B0101;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 3.1rem;
}

.email button:hover,
.email button:focus,
.email button:focus-within {
  background-color: rgb(44, 8, 8);
}

.email button:active {
  background-color: #000000;
}

.email input {
  color: #0B0101;
  padding: 10px;
  font-size: 2rem;
  line-height: 3rem;
  width: 65%;
  border: 0px;
}

.email input::placeholder {
  opacity: 0.7;
}

.contact {
  width: 25%;
  float: left;
}

.nav-footer {
  float: right;
}

footer a {
  font-size: 2rem;
  text-align: right;
  display: block;
  padding: 2px;
  margin: 2px;
}

.copyright {
  padding: 20px;
  background-color: #0B0101;
  color: #fff;
  text-align: center;
}

@media (min-height: 770px) {
  header {
    height: 770px;
  }
}

@media (max-width: 1030px) {
  .main-1 p,
  .main-2 p {
    margin: 15px 0px 25px 0px;
  }

  .nav-header {
    font-size: 2.5rem;
  }

  .main-3 {
    height: 300px;
  }

  .main-3 i {
    font-size: 6rem;
  }

  .main-3 a {
    font-size: 3.5rem;
  }
}

@media (max-width: 900px) {
  .hero-text {
    top: 60%;
  }

  header .social {
    bottom: 35px;
  }

  .main-1 h2 {
    margin: 50px auto;
  }

  .highlights h2 {
    margin: 0px auto;
  }
}

@media (max-width: 840px) {
  header .social {
    bottom: 20px;
  }

  .nav-header {
    font-size: 3rem;
  }
}

@media (max-height: 420px) {
  .main-3 {
    height: 250px;
  }
}

@media (max-width: 600px) {
  header {
    height: 500px;
    background-position: 35% 50%;
  }

  .web {
    visibility: hidden;
  }

  .mobile {
    visibility: visible;
  }

  .hero-text {
    top: 55%;
  }

  h1 {
    font-size: 23rem;
    line-height: 18rem;
  }

  .hero-text p {
    font-size: 6rem;
    margin-top: 0px;
  }

  h2 {
    font-size: 10rem;
  }

  .main-1 h2 {
    margin: 40px auto;
  }

  .news-articles img {
    width: 48%;
    margin: 0px;
  }

  img.news-1 {
    float: left;
  }

  img.news-2 {
    float: right;
  }

  img.news-3 {
  display: none;
  }

  .highlights img {
    float: none;
    margin-top: 50px;
    width: 100%;
  }

  .highlights h2 {
    margin: 30px auto 20px auto;
  }

  p,
  button {
    font-size: 7rem;
    line-height: 11rem;
  }

  .highlights button {
    padding: 18px 36px;
  }

  button {
    padding: 12px 24px;
  }

  .main-2 img {
    float:none;
    width: 100%;
    margin: 0px;
  }

  .main-2 .text {
    text-align: center;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .main-3 {
    padding: 20px 0px;
    height: auto;
  }

  .main-3 a {
    font-size: 9rem;
  }

  .main-3 .wrapper > div {
    text-align: center;
    margin: 40px auto;
    position: static;
    transform: translate(0,0);
  }

  .main-3 i {
    font-size: 18rem;
  }

  footer {
    height: auto;
  }

  h4 {
    font-size: 9rem;
  }

  footer {
    padding: 40px 0px;
  }

  .email {
    width: 100%;
    text-align: center;
  }

  .email p {
    font-size: 6rem;
    line-height: 10rem;
  }

  .email input,
  .email button {
    width: 100%;
    line-height: 10rem;
  }

  .email input::placeholder {
    font-size: 6rem;
    text-align: center;
  }

  .email button {
    margin: 10px 0px;
  }

  .contact {
    width: 70%;
  }

  .contact h4 {
    margin: 20px 0px;
  }

  .contact p {
    font-size: 5rem;
    line-height: 8rem;
  }

  .nav-footer {
    width: 25%;
    margin-top: 20px;
  }

.nav-footer a {
  font-size: 7rem;
  padding: 3px;
  margin: 3px;
}

}